<div id="instagram">
  <div class="instagram-header">
    <img src="/assets/instagram_icon.png"  />
    <img src="/assets/avatar.png"  />
    <h2><a targe="_blank" href="https://www.instagram.com/galori">galori</a></h2>
  </div>
  <hr>
  <span class="label">My stained birch + Ubiquity Dream Machine home network cabinet</span>
  <div class="collection">
    <a target="_blank" href="https://www.instagram.com/p/DHVNtlMu7bi/?img_index=1">
      <img src="/assets/instagram/cabinet/IMG_1168.jpeg" />
    </a>
    <a target="_blank" href="https://www.instagram.com/p/DHVNtlMu7bi/?img_index=2">
      <img src="/assets/instagram/cabinet/IMG_1169.jpeg" />
    </a>
    <a target="_blank" href="https://www.instagram.com/p/DHVNtlMu7bi/?img_index=3">
      <img src="/assets/instagram/cabinet/IMG_1170.jpeg" />
    </a>
  </div>

  <span class="label">Creating a "secret" door under the stairs to store trash bins</span>
  <div class="collection">
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2122.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2210.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2190.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2201.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2202.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/secret_door/IMG_2205.jpeg" /></a>
  </div>

  <span class="label">Framing my office. Maizey is trying to tell me the drywall sheet  is backwards.</span>
  <div class="collection">
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2148.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2153.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2154.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2164.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2166.jpeg" /></a>
    <a target="_blank" href="https://www.instagram.com/p/DHXl96dOpdw/?img_index=1"><img src="/assets/instagram/framing_office/IMG_2168.jpeg" /></a>
  </div>
</div>
