@font-face {
  font-family: 'EB Garamond 12 Italic';
  src: url('/assets/fonts/EBGaramond12-Italic.woff2') format('woff2'),
      url('/assets/fonts/EBGaramond12-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/assets/fonts/Cormorant-Light.woff2') format('woff2'),
      url('/assets/fonts/Cormorant-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



