.site-title {
  font-family: 'EB Garamond 12 Italic', serif ;
  font-size: 36px;
}

.wrapper {
  padding-top: 6px;
}

body { 
  font-family: 'Cormorant', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.post-meta { 
  font-size: 19px;
}